<template>
  <img alt="Vue logo" src="./assets/logo.png">
  <!-- <HelloWorld msg="Welcome to Yousssr Vue.js App"/> -->
  <dialog
</template>

<script>
import HelloWorld from './components/HelloWorld.vue'
import Dialog from 'primevue/dialog/sfc';
export default {
  name: 'Appbb
  ',
  components: {
    Dialog
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscalsdsde;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
